@{
    ViewData["Title"] = "Home Page";
}

<div class="home-background">
    <div class="home-content">
    <h1 class="display-4">WELCOME TO MY PERSONAL WEBSITE</h1>
    <p>This is my digital website for MIS 3033 that showcases a little bit about me!</p>
        <a asp-controller="Home" asp-action="About" class="btn btn-primary">Learn More About Me</a>
</div>
</div>
